/***** Hero component *****/
.hero {
  background-image: url($homepage-background-image);
  background-position: left bottom;
  background-size: auto;
  background-color: $banner-color;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;

  &-large {
    margin-top: -$header-height;
  }

  &-large {
    height: 75vh;
  }

  &-small {
    height: $header-height * 2;
    background-position: top;
  }

  &-large::before,
  &-small::before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    content: '';
    opacity: 0.3;
    background-color: $banner-color;
  }

  &-large::before {
    max-height: 75vh;
  }

  &-small::before {
    max-height: $header-height * 2;
  }

  &-inner {
    @include vertical-align;
    max-width: $max-width-container;
    margin: 0 auto;
    z-index: 2;
    color: white;

    & a {
      color: $brand_text_color;
      font-weight: $font-weight-semibold;
      text-decoration: underline;
    }

    & a:hover,
    & a:focus,
    & a:active {
      color: $brand_color;
    }

    &-home-heading {
      color: $brand_text_color;
      font-weight: $font-weight-semibold;
      margin-bottom: 16px;

      @media (min-width: 580px) {
        font-size: 48px;
      }
    }

    &-search {
      max-width: 870px;
      margin: 0 auto;
    }

    &-description {
      font-size: $font-size-base;
    }

    &-page-heading {
      color: $brand_text_color;
      background: #00cdff61;
      margin: 0 auto;
      width: -moz-fit-content;
      width: fit-content;
      padding: 0%;

      @media (min-width: 580px) {
        font-size: 48px;
      }
    }
  }
}

.jagged-lines {
  position: absolute;
  height: 100px;
  bottom: -1px;
  left: 0;
  overflow: hidden;
  right: 0;
  z-index: 1;
  transform: scaleY(-1) scaleX(-1);

  &-large::before {
    max-height: 10vh;
  }

  &-small::before {
    max-height: 5vh;
  }
}

.static {
  position: relative;

  &-large::before {
    max-height: 85vh;
  }
}
